##  Connecting via Python
We'll be using a pandas connector alongside SQLAlchemy to connect to this database

SQLAlchemy: generates SQL statements

psycopg2: sends SQL statements to the database ( SQLAlchemy uses psycogp2 to communicate 
with our database)

In [1]:
import pandas as pd
import numpy as np
import html5lib
import calendar
import time

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split

from sklearn.linear_model import LinearRegression, Lasso, LassoCV

from sklearn import tree

In [2]:

import dateutil

from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split


from sklearn.metrics import r2_score

import statsmodels.api as sm

import seaborn as sns

import patsy
from patsy import dmatrices

from sklearn import linear_model as lm
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
from sklearn import metrics
from sklearn.metrics import confusion_matrix

from sklearn.metrics import roc_curve, auc
from sklearn.metrics import accuracy_score

from sklearn.neighbors import KNeighborsClassifier

D:\Anac\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
D:\Anac\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
from sqlalchemy import create_engine
import pandas as pd
cnx = create_engine('postgresql://postgres@107.22.156.254:5432/postgres')
#cnx = create_engine('postgresql://username:password@ip_address:port/dbname')
#port ~ 5432

In [4]:
# pd.read_sql_query('''SELECT * FROM santander LIMIT 5''',cnx)

create_engine : establishes how we are communicate with the database.
    and defines where the db is.

In [5]:
# pd.read_sql_query('''SELECT COUNT(*) as cnt FROM santander''',cnx)

In [6]:
pd.read_sql_query('''SELECT * FROM INFORMATION_SCHEMA.COLUMNS''',cnx)



# pd.read_sql_query('''SELECT * FROM santander WHERE 0.01 >= CAST(CHECKSUM(NEWID(), SalesOrderID) & 07fffffff AS float) / CAST (0x7fffffff AS int)''',cnx)

# # pd.read_sql_query('''SELECT * FROM santander WHERE RAND() <= .05''',cnx)
# # pd.read_sql_query('''SELECT samples FROM santander LIMIT $13547309, 100000''',cnx)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,information_schema,sql_packages,feature_id,1,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
1,postgres,pg_catalog,pg_type,typarray,13,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2,postgres,pg_catalog,pg_statio_all_sequences,relid,1,None,YES,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
3,postgres,pg_catalog,pg_class,relkind,16,None,NO,"""char""",NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
4,postgres,pg_catalog,pg_language,lanplcallfoid,5,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
5,postgres,pg_catalog,pg_user,useconfig,9,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
6,postgres,pg_catalog,pg_timezone_abbrevs,abbrev,1,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
7,postgres,information_schema,table_constraints,table_name,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
8,postgres,information_schema,table_privileges,privilege_type,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
9,postgres,information_schema,triggers,event_object_catalog,5,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
10,postgres,information_schema,triggered_update_columns,event_object_column,7,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
11,postgres,pg_catalog,pg_index,indisreplident,13,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
12,postgres,information_schema,constraint_column_usage,column_name,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
13,postgres,pg_catalog,pg_roles,rolinherit,3,None,YES,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
14,postgres,information_schema,columns,data_type,8,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
15,postgres,information_schema,transforms,transform_type,8,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
16,postgres,pg_catalog,pg_stat_xact_all_tables,n_tup_upd,9,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
17,postgres,information_schema,character_sets,character_set_schema,2,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
18,postgres,information_schema,routine_privileges,routine_schema,7,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
19,postgres,information_schema,sql_features,is_verified_by,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
20,postgres,pg_catalog,pg_stat_all_tables,autovacuum_count,20,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
21,postgres,pg_catalog,pg_depend,classid,1,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
22,postgres,information_schema,attributes,character_octet_length,10,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
23,postgres,information_schema,user_defined_types,datetime_precision,25,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
24,postgres,pg_catalog,pg_database,datdba,2,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
25,postgres,pg_catalog,pg_attribute,atttypid,3,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
26,postgres,pg_catalog,pg_shseclabel,label,4,None,NO,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
27,postgres,information_schema,user_defined_types,interval_type,26,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
28,postgres,pg_catalog,pg_transform,trflang,2,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
29,postgres,pg_catalog,pg_attribute,atthasdef,14,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1647,postgres,pg_catalog,pg_stat_xact_sys_tables,relname,3,None,YES,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1648,postgres,information_schema,column_options,option_value,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1649,postgres,information_schema,attributes,collation_name,16,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1650,postgres,information_schema,foreign_servers,foreign_server_version,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1651,postgres,pg_catalog,pg_amop,amoprighttype,3,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1652,postgres,pg_catalog,pg_statio_sys_indexes,idx_blks_hit,7,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1653,postgres,public,santander,nomprov,21,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
1654,postgres,information_schema,usage_privileges,privilege_type,7,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1655,postgres,information_schema,columns,identity_increment,38,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1656,postgres,information_schema,routines,type_udt_name,31,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1657,postgres,pg_catalog,pg_seclabels,objtype,4,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1658,postgres,pg_catalog,pg_stat_bgwriter,buffers_backend_fsync,9,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1659,postgres,information_schema,sequences,numeric_precision_radix,6,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1660,postgres,information_schema,parameters,data_type,9,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1661,postgres,information_schema,routines,new_savepoint_level,57,None,YES,character varying,3.0,1.200000e+01,...,NO,None,None,None,None,None,None,NEVER,None,NO
1662,postgres,pg_catalog,pg_indexes,schemaname,1,None,YES,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1663,postgres,information_schema,tables,user_defined_type_catalog,7,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1664,postgres,information_schema,_pg_user_mappings,authorization_identifier,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1665,postgres,pg_catalog,pg_foreign_server,srvowner,2,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1666,postgres,information_schema,schemata,default_character_set_name,6,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1667,postgres,information_schema,user_defined_types,character_maximum_length,14,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1668,postgres,pg_catalog,pg_opclass,opcmethod,1,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1669,postgres,information_schema,routines,result_cast_collation_catalog,66,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1670,postgres,pg_catalog,pg_statio_all_tables,relname,3,None,YES,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1671,postgres,pg_catalog,pg_stat_database,xact_rollback,5,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1672,postgres,information_schema,sql_sizing_profiles,required_value,4,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1673,postgres,pg_catalog,pg_stats,attname,3,None,YES,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,NO
1674,postgres,information_schema,applicable_roles,role_name,2,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1675,postgres,information_schema,attributes,attribute_name,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,NO
1676,postgres,pg_catalog,pg_constraint,conffeqop,21,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES

In [7]:
df = pd.read_sql_query('''SELECT * FROM santander WHERE fecha_dato = '2015-12-28' ORDER BY random() LIMIT 100000''',cnx)

In [8]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-12-28,115646,N,ES,H,44,2001-07-23,0,173,1,...,0,0,0,0,0,0,1,0,0,1
1,2015-12-28,75704,N,ES,V,63,1997-11-25,0,217,1,...,0,0,0,0,0,0,0,0,0,0
2,2015-12-28,1468784,N,ES,H,24,2015-10-05,1,2,1,...,0,0,0,0,0,0,0,0,0,0
3,2015-12-28,1150975,N,ES,H,22,2013-07-30,0,29,1,...,0,0,0,0,0,0,0,0,0,0
4,2015-12-28,619967,N,ES,V,84,2006-06-08,0,114,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# df1 = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/train_ver2_A.csv')

In [11]:
df.describe()

,ncodpers,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,...,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_recibo_ult1
count,1.000000e+05,7.744800e+04,100000.000000,100000.000000,100000.000000,100000.00000,100000.00000,100000.00000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,8.651922e+05,1.323866e+05,0.000090,0.000040,0.610190,0.00042,0.07147,0.00861,0.008850,0.112250,...,0.073140,0.016570,0.005060,0.007750,0.002450,0.046140,0.039190,0.022380,0.003250,0.117110
std,4.414029e+05,1.723071e+05,0.009486,0.006324,0.487709,0.02049,0.25761,0.09239,0.093658,0.315675,...,0.260367,0.127654,0.070954,0.087693,0.049437,0.209789,0.194048,0.147917,0.056916,0.321553
min,1.589300e+04,2.336010e+03,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.750090e+05,6.842379e+04,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.546555e+05,1.013961e+05,0.000000,0.000000,1.000000,0.00000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.240906e+06,1.554524e+05,0.000000,0.000000,1.000000,0.00000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.520376e+06,1.326862e+07,1.000000,1.000000,1.000000,1.00000,1.00000,1.00000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
df.columns = ['DatePulled', 'CustCode', 'EmployeeIndex', 'CustCountry', 'CustGender', 'CustAge', 'CustStartDate', 'NewCustIndex', 'CustSeniority', 'CustDuringNotEndMonth', 'CustLastDatePrimary',
                 'CustType', 'CustRelationType', 'ResidenceIndex', 'ForeignerIndex', 'EmployeeSpouse', 'CustChannelJoin', 'Deceased', 'AddressType', 'CustProvinceCode', 'CustProvince', 'CustActivity',
                 'CustGrossIncome', 'CustSegment', 'SavingsAcct', 'Guarantees', 'CurrentAcct', 'DerivAcct', 'PayrollAcct', 'JuniorAcct', 'SpecialAcct1', 'SpecialAcct2',
                 'SpecialAcct3Plus', 'STDeposits', 'MTDeposits', 'LTDeposits', 'eAcct', 'Funds', 'Mortgage', 'Pensions', 'Loans', 'Taxes', 'CreditCard', 'Securities', 'HomeAcct', 'Payroll', 'Pensions', 'DirectDebit']

In [13]:
df.head()

,DatePulled,CustCode,EmployeeIndex,CustCountry,CustGender,CustAge,CustStartDate,NewCustIndex,CustSeniority,CustDuringNotEndMonth,...,Mortgage,Pensions,Loans,Taxes,CreditCard,Securities,HomeAcct,Payroll,Pensions,DirectDebit
0,2015-12-28,115646,N,ES,H,44,2001-07-23,0,173,1,...,0,0,0,0,0,0,1,0,0,1
1,2015-12-28,75704,N,ES,V,63,1997-11-25,0,217,1,...,0,0,0,0,0,0,0,0,0,0
2,2015-12-28,1468784,N,ES,H,24,2015-10-05,1,2,1,...,0,0,0,0,0,0,0,0,0,0
3,2015-12-28,1150975,N,ES,H,22,2013-07-30,0,29,1,...,0,0,0,0,0,0,0,0,0,0
4,2015-12-28,619967,N,ES,V,84,2006-06-08,0,114,1,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# df.dtypes

In [15]:
df.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/WORKING_RAND_SAMPLE_train_ver2_Oct19.csv')

In [5]:
df = pd.read_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/WORKING_RAND_SAMPLE_train_ver2_Oct19.csv', encoding = "ISO-8859-1" )

D:\Anac\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df2 = df.iloc[:,3:]
del df2['AddressType']
del df2['CustLastDatePrimary']
del df2['CustStartDate']

In [12]:
df2.columns

Index(['EmployeeIndex', 'CustCountry', 'CustGender', 'CustAge', 'NewCustIndex',
       'CustSeniority', 'CustDuringNotEndMonth', 'CustType',
       'CustRelationType', 'ResidenceIndex', 'ForeignerIndex',
       'EmployeeSpouse', 'CustChannelJoin', 'Deceased', 'CustProvinceCode',
       'CustProvince', 'CustActivity', 'CustGrossIncome', 'CustSegment',
       'SavingsAcct', 'Guarantees', 'CurrentAcct', 'DerivAcct', 'PayrollAcct',
       'JuniorAcct', 'SpecialAcct1', 'SpecialAcct2', 'SpecialAcct3Plus',
       'STDeposits', 'MTDeposits', 'LTDeposits', 'eAcct', 'Funds', 'Mortgage',
       'Pensions', 'Loans', 'Taxes', 'CreditCard', 'Securities', 'HomeAcct',
       'Payroll', 'Pensions.1', 'DirectDebit'],
      dtype='object')

In [18]:
df2.to_csv('D:/OneDrive/thisismetis/sf17_ds8_workingdirectory/projects/03-mcnulty/Santander/WORKING_RAND_SAMPLE_train_ver2B_Oct19.csv')

In [19]:
df2['SpecialAcct2'].value_counts()

0    88775
1    11225
Name: SpecialAcct2, dtype: int64

In [13]:
df3 = pd.get_dummies(df2, columns = ['EmployeeIndex', 'CustCountry','CustGender', 'NewCustIndex', 'CustDuringNotEndMonth', 'CustType',
                                        'CustRelationType', 'ResidenceIndex', 'ForeignerIndex', 'EmployeeSpouse', 'CustChannelJoin', 'Deceased', 'CustProvinceCode', 'CustProvince', 'CustActivity', 'CustSegment'] )

In [14]:
df3.head()

,CustAge,CustSeniority,CustGrossIncome,SavingsAcct,Guarantees,CurrentAcct,DerivAcct,PayrollAcct,JuniorAcct,SpecialAcct1,...,CustProvince_TOLEDO,CustProvince_VALENCIA,CustProvince_VALLADOLID,CustProvince_ZAMORA,CustProvince_ZARAGOZA,CustActivity_0,CustActivity_1,CustSegment_01 - TOP,CustSegment_02 - PARTICULARES,CustSegment_03 - UNIVERSITARIO
0,44,173,56597.22,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,63,217,102590.67,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,24,2,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,22,29,56316.78,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,84,114,83276.64,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [15]:
df3.dropna(inplace=True)

In [16]:
# df2['EmployeeIndex'] = df2['EmployeeIndex'].map({1: 0, 2: 1})

In [17]:
df3['CustAge'] = pd.to_numeric(df3['CustAge'])

In [18]:
df3['CustSeniority'] = pd.to_numeric(df3['CustSeniority'])

In [19]:
df3 = df3[df3['CustSeniority'] > 0]

In [27]:
df3['CustGrossIncome'].describe()

count    7.744500e+04
mean     1.323871e+05
std      1.723101e+05
min      2.336010e+03
25%      6.842391e+04
50%      1.013958e+05
75%      1.554520e+05
max      1.326862e+07
Name: CustGrossIncome, dtype: float64

In [20]:
bins = [0, 18, 25, 35, 45, 55, 65, 75, 150]
group_names = [0, 1, 2, 3, 4, 5, 6, 7]
df3['CustAge'] = pd.cut(df3['CustAge'], bins, labels=group_names)

In [21]:
bins = [0, 5, 10, 25, 50, 75, 100, 125, 150, 200, 300]
group_names = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
df3['CustSeniority'] = pd.cut(df3['CustSeniority'], bins, labels=group_names)

In [22]:
bins = [0., 15000., 30000., 50000., 75000., 100000., 250000., 500000., 1000000., 10000000.]
group_names = [0, 1, 2, 3, 4, 5, 6, 7, 8]
df3['CustGrossIncome'] = pd.cut(df3['CustGrossIncome'], bins, labels=group_names)

In [23]:
df3['CustGrossIncome'].value_counts()

5    32839
3    15259
4    14419
2     7047
6     5642
1     1223
7      762
8      176
0       74
Name: CustGrossIncome, dtype: int64

In [24]:
df3 = pd.get_dummies(df3, columns = ['CustAge', 'CustSeniority','CustGrossIncome'] )

In [25]:
df3.head()

,SavingsAcct,Guarantees,CurrentAcct,DerivAcct,PayrollAcct,JuniorAcct,SpecialAcct1,SpecialAcct2,SpecialAcct3Plus,STDeposits,...,CustSeniority_9,CustGrossIncome_0,CustGrossIncome_1,CustGrossIncome_2,CustGrossIncome_3,CustGrossIncome_4,CustGrossIncome_5,CustGrossIncome_6,CustGrossIncome_7,CustGrossIncome_8
0,0,0,1,0,0,0,0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [26]:
df4 = df3.sample(10000, random_state=1234, axis=0)

In [27]:
len(df4)

10000

In [28]:
df4.head()

,SavingsAcct,Guarantees,CurrentAcct,DerivAcct,PayrollAcct,JuniorAcct,SpecialAcct1,SpecialAcct2,SpecialAcct3Plus,STDeposits,...,CustSeniority_9,CustGrossIncome_0,CustGrossIncome_1,CustGrossIncome_2,CustGrossIncome_3,CustGrossIncome_4,CustGrossIncome_5,CustGrossIncome_6,CustGrossIncome_7,CustGrossIncome_8
33774,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
45824,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
96751,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
65469,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
95871,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [101]:
df4['NumberProducts'] = df4.iloc[:,0:24].sum(axis=1)

In [82]:
df4['NumberProducts'].head()

33774    0
45824    2
96751    1
65469    0
95871    2
Name: NumberProducts, dtype: int64

In [102]:
bins = [-1, 0, 1, 2, 100]
group_names = ['0', '1', '2', '3']
df4['NumberProducts'] = pd.cut(df4['NumberProducts'], bins, labels=group_names)

In [84]:
df4['NumberProducts'].head()

33774    0
45824    2
96751    1
65469    0
95871    2
Name: NumberProducts, dtype: category
Categories (4, object): [0 < 1 < 2 < Multiple(More than 2]

In [31]:
df4['SavingsAcct'].value_counts()

0    9999
1       1
Name: SavingsAcct, dtype: int64

In [79]:
df4['NumberProducts'].value_counts()

0                       4802
1                       1313
Multiple(More than 2     896
2                        582
Name: NumberProducts, dtype: int64

In [33]:
df_temp = df4.iloc[:,0:24]

In [34]:
total_corr = df_temp.corr()
total_corr.to_clipboard()
total_corr

,SavingsAcct,Guarantees,CurrentAcct,DerivAcct,PayrollAcct,JuniorAcct,SpecialAcct1,SpecialAcct2,SpecialAcct3Plus,STDeposits,...,Mortgage,Pensions,Loans,Taxes,CreditCard,Securities,HomeAcct,Payroll,Pensions.1,DirectDebit
SavingsAcct,1.000000,-0.000100,-0.012449,-0.000173,-0.002927,-0.001015,-0.000892,-0.003757,-0.002015,-0.000245,...,-0.000809,-0.000909,-0.000567,-0.002361,-0.002196,-0.001578,-0.000520,-0.002527,-0.002628,-0.003840
Guarantees,-0.000100,1.000000,-0.012449,-0.000173,0.034169,-0.001015,0.112069,-0.003757,-0.002015,-0.000245,...,-0.000809,-0.000909,-0.000567,-0.002361,0.045543,-0.001578,-0.000520,0.039583,0.038054,0.026044
CurrentAcct,-0.012449,-0.012449,1.000000,0.013916,-0.295966,-0.126373,-0.006978,0.032443,-0.026494,0.019682,...,-0.036975,-0.010991,-0.016136,-0.064951,-0.058260,0.038980,0.018115,-0.230857,-0.239662,-0.018375
DerivAcct,-0.000173,-0.000173,0.013916,1.000000,-0.005070,-0.001759,-0.001546,0.011030,-0.003490,-0.000424,...,-0.001401,-0.001575,-0.000982,-0.004090,0.023761,0.034767,-0.000901,-0.004377,-0.004552,-0.006652
PayrollAcct,-0.002927,0.034169,-0.295966,-0.005070,1.000000,-0.029711,0.053494,0.020732,0.186299,-0.007171,...,0.160967,0.080333,-0.003447,0.358847,0.397896,0.100764,0.027662,0.805438,0.834531,0.542721
JuniorAcct,-0.001015,-0.001015,-0.126373,-0.001759,-0.029711,1.000000,-0.009059,-0.038140,-0.020450,-0.002487,...,-0.008211,-0.009230,-0.005752,-0.019517,-0.022291,-0.016020,-0.005282,-0.025647,-0.026677,-0.038980
SpecialAcct1,-0.000892,0.112069,-0.006978,-0.001546,0.053494,-0.009059,1.000000,-0.030096,-0.012142,-0.002186,...,-0.007218,-0.008114,-0.005056,0.014288,0.023542,0.000589,-0.004643,0.053556,0.050071,0.053495
SpecialAcct2,-0.003757,-0.003757,0.032443,0.011030,0.020732,-0.038140,-0.030096,1.000000,0.041979,0.028005,...,-0.000153,0.029829,-0.010532,0.059333,0.072637,0.090621,0.050689,0.030413,0.033472,0.045422
SpecialAcct3Plus,-0.002015,-0.002015,-0.026494,-0.003490,0.186299,-0.020450,-0.012142,0.041979,1.000000,-0.004936,...,0.105834,0.027505,-0.002268,0.169555,0.180149,0.088975,0.039290,0.190533,0.197116,0.200484
STDeposits,-0.000245,-0.000245,0.019682,-0.000424,-0.007171,-0.002487,-0.002186,0.028005,-0.004936,1.000000,...,-0.001982,-0.002228,-0.001388,0.012476,0.014114,0.049176,-0.001275,0.011005,0.010174,0.014998
MTDeposits,-0.000425,-0.000425,0.024448,-0.000736,0.005074,-0.004311,-0.003789,0.034204,0.003631,0.095300,...,-0.003435,0.048459,-0.002406,0.011072,0.001937,0.039262,-0.002210,0.009139,0.008035,0.011893
LTDeposits,-0.002068,-0.002068,0.050408,-0.003582,0.077917,-0.020990,-0.001361,0.083148,0.036496,0.015528,...,0.002102,0.053897,-0.011715,0.054916,0.091818,0.078726,-0.010758,0.051814,0.064653,0.080346
eAcct,-0.003011,0.033219,-0.043097,0.036623,0.297571,-0.030561,0.005873,-0.007476,0.062859,0.022212,...,0.079337,0.065021,-0.010643,0.210793,0.269389,0.171297,0.005280,0.262592,0.281954,0.309847
Funds,-0.001365,-0.001365,0.033271,0.040716,0.065207,-0.013860,-0.003756,0.105062,0.041864,-0.003345,...,0.035377,0.111681,0.018684,0.071186,0.080426,0.196493,0.064785,0.066036,0.067313,0.092488
Mortgage,-0.000809,-0.000809,-0.036975,-0.001401,0.160967,-0.008211,-0.007218,-0.000153,0.105834,-0.001982,...,1.000000,0.034042,-0.004583,0.120014,0.112925,0.059970,-0.004209,0.173439,0.166047,0.162306
Pensions,-0.000909,-0.000909,-0.010991,-0.001575,0.080333,-0.009230,-0.008114,0.029829,0.027505,-0.002228,...,0.034042,1.000000,-0.005152,0.062825,0.085900,0.100874,0.016638,0.070411,0.075345,0.081060
Loans,-0.000567,-0.000567,-0.016136,-0.000982,-0.003447,-0.005752,-0.005056,-0.010532,-0.002268,-0.001388,...,-0.004583,-0.005152,1.000000,0.026210,0.004463,0.002557,-0.002948,0.000596,-0.000484,-0.005884
Taxes,-0.002361,-0.002361,-0.064951,-0.004090,0.358847,-0.019517,0.014288,0.059333,0.169555,0.012476,...,0.120014,0.062825,0.026210,1.000000,0.302493,0.125366,0.039419,0.322575,0.343605,0.385034
CreditCard,-0.002196,0.045543,-0.058260,0.023761,0.397896,-0.022291,0.023542,0.072637,0.180149,0.014114,...,0.112925,0.085900,0.004463,0.302493,1.000000,0.135856,0.034571,0.376684,0.390878,0.403533
Securities,-0.001578,-0.001578,0.038980,0.034767,0.100764,-0.016020,0.000589,0.090621,0.088975,0.049176,...,0.059970,0.100874,0.002557,0.125366,0.135856,1.000000,0.029335,0.096861,0.114402,0.141232
HomeAcct,-0.000520,-0.000520,0.018115,-0.000901,0.027662,-0.005282,-0.004643,0.050689,0.039290,-0.001275,...,-0.004209,0.016638,-0.002948,0.039419,0.034571,0.029335,1.000000,0.027427,0.025524,0.043365
Payroll,-0.002527,0.039583,-0.230857,-0.004377,0.805438,-0.025647,0.053556,0.030413,0.190533,0.011005,...,0.173439,0.070411,0.000596,0.322575,0.376684,0.096861,0.027427,1.000000,0.961378,0.510733
Pensions.1,-0.002628,0.038054,-0.239662,-0.004552,0.834531,-0.026677,0.050071,0.033472,0.197116,0.010174,...,0.166047,0.075345,-0.000484,0.343605,0.390878,0.114402,0.025524,0.961378,1.000000,0.527568
DirectDebit,-0.003840,0.026044,-0.018375,-0.006652,0.542721,-0.038980,0.053495,0.045422,0.200484,0.014998,...,0.162306,0.081060,-0.005884,0.385034,0.403533,0.141232,0.043365,0.510733,0.527568,1.000000

In [43]:
# sns.pairplot(df_temp)

In [35]:
def plot_confusion_matrix(cm,title='Confusion matrix', cmap=plt.cm.Reds):
    plt.imshow(cm, interpolation='nearest',cmap=cmap)
    plt.title(title)
    plt.colorbar()
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

def train_score(classifier,x,y):
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=4444)
    ytrain=np.ravel(ytrain)
    clf = classifier.fit(xtrain, ytrain)
    # accuracy for test & train:
    train_acc=clf.score(xtrain, ytrain)
    test_acc=clf.score(xtest,ytest)
    print("Training Data Accuracy: %0.2f" %(train_acc))
    print("Test Data Accuracy:     %0.2f" %(test_acc))
    
    y_true = ytest
    y_pred = clf.predict(xtest)


    conf = confusion_matrix(y_true, y_pred)
    precision = (conf[0, 0] / (conf[0, 0] + conf[1, 0]))
    recall = (conf[0, 0] / (conf[0, 0] + conf[0, 1]))
    F1 = 2 * (precision * recall) / (precision + recall)
    
    print(conf)

    print ('\n')
    print ("Precision:          %0.2f" %precision)
    print ("Recall:             %0.2f"%recall )
    print ("F1:                 %0.2f"%F1 )
    
    cm=confusion_matrix(y_true, y_pred, labels=None)
    
    plt.figure()
    plot_confusion_matrix(cm)

In [45]:
df4.head()

,SavingsAcct,Guarantees,CurrentAcct,DerivAcct,PayrollAcct,JuniorAcct,SpecialAcct1,SpecialAcct2,SpecialAcct3Plus,STDeposits,...,CustGrossIncome_0,CustGrossIncome_1,CustGrossIncome_2,CustGrossIncome_3,CustGrossIncome_4,CustGrossIncome_5,CustGrossIncome_6,CustGrossIncome_7,CustGrossIncome_8,NumberProducts
33774,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
45824,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2
96751,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
65469,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
95871,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2

In [103]:
X = df4.iloc[:, 24:-1]
# X['Budget'] = df2['Budget']
# X['Runtime'] = df2['Runtime']
y = df4['NumberProducts']

In [104]:
df4['NumberProducts'].value_counts()

1    4802
0    2407
3    1478
2    1313
Name: NumberProducts, dtype: int64

In [87]:
X.head()

,EmployeeIndex_A,EmployeeIndex_B,EmployeeIndex_F,EmployeeIndex_N,CustCountry_AE,CustCountry_AO,CustCountry_AR,CustCountry_AT,CustCountry_AU,CustCountry_BE,...,CustSeniority_9,CustGrossIncome_0,CustGrossIncome_1,CustGrossIncome_2,CustGrossIncome_3,CustGrossIncome_4,CustGrossIncome_5,CustGrossIncome_6,CustGrossIncome_7,CustGrossIncome_8
33774,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
45824,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
96751,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
65469,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
95871,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [47]:
df4['SpecialAcct3Plus'].value_counts()

0    9610
1     390
Name: SpecialAcct3Plus, dtype: int64

In [105]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=1234)

In [89]:
X2 = np.linspace(0,20, 20)

results = pd.DataFrame()  #columns=['Iteration', 'TrainingError', 'TestingError']

results['K'] = X2
results['Accuracy'] = X2

In [90]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

for k in range(1,20):
    
    knc_model = KNeighborsClassifier(n_neighbors=k)
    knc_model.fit(X_train,y_train)
    test_set_pred = knc_model.predict(X_test)
    acc_score = accuracy_score(y_test, test_set_pred)

    results['K'][k] = k
    results['Accuracy'][k] = acc_score

In [91]:
results[results['Accuracy'] == results['Accuracy'].max()]

       K  Accuracy
18  18.0  0.603333

In [126]:
knc_model = KNeighborsClassifier(n_neighbors=18)
knc_model.fit(X_train,y_train)
test_set_pred = knc_model.predict(X_test)
acc_score = accuracy_score(y_test, test_set_pred)

In [128]:
knc_model.score(X_test,y_test)

0.60333333333333339

In [137]:
# y_score=knc_model.predict_proba(X_test)[:,1]


# fpr, tpr, thresholds = metrics.roc_curve(y_test, y_score)
# roc_auc = auc(fpr, tpr)


# print ("Accuracy Score:      %0.2f" %acc_score)
# print ("AUC:                 %0.2f"%roc_auc )

In [92]:
# for k in range(1,20):
#     knc_clf=KNeighborsClassifier(n_neighbors=k)
#     train_score(knc_clf,X,y)

In [123]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# for i, l in enumerate(results2['l2']):
    
lr_model = LogisticRegression()
lr_model.fit(X_train,y_train)
test_set_pred = lr_model.predict(X_test)
acc_score = accuracy_score(y_test, test_set_pred)


acc_score

0.62

In [124]:
lr_model.coef_

array([[-0.00599198, -0.00462409, -0.01088975, ...,  0.20871775,
         0.58021148, -0.28192709],
       [-0.1593531 , -0.16721223, -0.29471606, ..., -0.11782938,
        -0.57226889,  0.34757099],
       [-0.17252401, -0.16181307, -0.32247903, ..., -0.02680626,
         0.0520717 , -0.47114987],
       [ 0.17272064,  0.16487236,  0.306638  , ..., -0.11038455,
        -0.01669645, -0.03520548]])

In [125]:
lr_model.score(X_test,y_test)

0.62

In [95]:
l = list(zip(X_train.columns,lr_model.coef_))
l

[('EmployeeIndex_A',
  array([ -5.99197651e-03,  -4.62409291e-03,  -1.08897502e-02,
           2.74888255e-02,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           5.98300585e-03,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           3.33506778e-02,  -2.73676720e-02,   9.65230999e-02,
          -9.05400941e-02,  -1.40524244e+00,   1.41122544e+00,
           1.10814943e-01,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,  -1.44899284e-01,   4.00673475e-02,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          -1.93717300e-01,   1.99700305e-01,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   5.98300585e-03,
          -1.88999189e-01,   1.94982194e-01,  -4.62409291e-03,
           0.00000000e+00,   1.76498575e+00,  -9.15943347e-01,
           2.94438392e-01,   1.69925574e-01,  -2.63938225e-01,
           0.00000000e+00,  -4.12702674e-01,  -2.26481773e-01,
          -7.07266222e-01,  -1.41917037e-01,   6.25011516e-04,
           2.95550508e-01,   6.67162327e-02,  -4.24721686e-01,
           6.93495351e-01,  -2.44087625e-01,   0.00000000e+00,
           5.26861051e-01,  -8.68338541e-01,  -8.27913550e-01,
           5.55637165e-01,   3.85027537e-02,  -7.26381023e-01,
           0.00000000e+00,  -7.49252170e-03,   2.10827567e-01,
           5.11158016e-01,  -8.28514234e-01,   2.82127548e-01,
          -5.42393747e-03,   6.20406789e-01,   0.00000000e+00,
           1.27806074e-01,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   2.57954789e-01,   0.00000000e+00,
           2.71040881e-01,   0.00000000e+00,   0.00000000e+00,
          -9.04080688e-03,   4.52324636e-01,  -4.44353576e-01,
           0.00000000e+00,   0.00000000e+00,   2.00177591e-02,
          -6.00485849e-03,   1.76022600e-02,   8.31752855e-02,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           4.96261207e-02,  -1.85047380e-01,   6.95640691e-02,
           0.00000000e+00,   7.49575919e-01,  -9.29966827e-03,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   3.05761730e-01,
           3.18868019e-01,   0.00000000e+00,   0.00000000e+00,
           5.45210262e-01,   0.00000000e+00,  -4.19142273e-03,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           3.65214805e-01,  -2.09887764e-01,   6.53622845e-01,
           0.00000000e+00,   0.00000000e+00,   1.93527951e-02,
           0.00000000e+00,   0.00000000e+00,   7.02207681e-02,
          -3.22299105e-03,   0.00000000e+00,  -4.14516464e-03,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,  -3.22970863e-03,  -5.44594217e-01,
           5.17919867e-01,   4.83586150e-01,   0.00000000e+00,
           6.17188291e-01,   0.00000000e+00,  -6.59477700e-03,
           0.00000000e+00,   7.29011543e-01,   0.00000000e+00,
           2.53359310e-01,   0.00000000e+00,   0.00000000e+00,
          -5.09789706e-02,  -3.54261943e-01,   4.51971600e-01,
          -9.43772097e-01,   0.00000000e+00,  -3.31419192e-01,
          -8.34553208e-01,   0.00000000e+00,   2.17820206e-01,
          -4.31119565e-01,  -4.78654977e-01,   0.00000000e+00,
           4.37920906e-01,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   7.32171143e-01,  -2.45580016e-01,
           0.00000000e+00,   3.30123595e-01,   3.10058412e-02,
           9.06660448e-03,  -6.10104919e-01,   0.00000000e+00,
          -6.23548338e-01,   0.00000000e+00,   0.00000000e+00,
           1.71620833e-01,  -9.48865875e-01,  -1.82121166e+00,
           7.73400995e-02,  -3.58766872e-01,  -1.59605193e-01,
          -3.11807312e-01,  -8.66092800e-02,  -6.80454817e-02,
           0.00000000e+00,  -1.13230745e+00,  -4.54767724e-02,
          -1.39228526e-01,   1.45211532e-01,   0.00000000e+00,
          -1.34707842e-01,  -1.29097773e-01,   5.10952615e-01,
          -4.67909378e-02,   6.35132089e-03,  -2.01708416e-01,
           2.57689056e-01,  -7.29424096e-02,  -2.53099604e-01,
          -2.36275911e-01,   6.60475255e-02,  -5.01539583e-01,
          -9.53386021e-02,  -1.65901932e-01,  -6.23596894e-01,
           1.16991510e-01,   5.65756039e-03,   5.78451059e-01,
           0.00000000e+00,  -2.11773114e-01,   2.02883815e-01,
          -1.95667504e-01,   1.21768761e-01,  -2.72691575e-01,
          -1.25227771e-01,   5.43763030e-02,   3.09138200e-01,
          -1.35197095e-01,  -6.35691996e-02,   0.00000000e+00,
           1.44675162e-02,  -1.00197230e-01,   2.32155365e-01,
          -5.81668467e-02,   2.07459656e-01,  -2.39212947e-01,
           2.32320826e-01,   1.41546548e-01,  -1.19706989e-01,
          -2.34405594e-01,   8.49879857e-02,   2.96945266e-01,
           9.59904320e-02,   4.09550319e-01,   4.84163122e-02,
          -6.45640771e-02,   0.00000000e+00,   7.16522395e-01,
           1.45878394e-02,  -3.11162958e-01,  -1.26732375e-01,
           0.00000000e+00,  -1.34707842e-01,  -1.29097773e-01,
           5.10952615e-01,  -1.00197230e-01,  -4.67909378e-02,
           6.35132089e-03,  -2.01708416e-01,   2.57689056e-01,
           0.00000000e+00,  -7.29424096e-02,  -2.53099604e-01,
          -2.36275911e-01,   1.41546548e-01,   6.60475255e-02,
          -3.11162958e-01,  -5.01539583e-01,  -9.53386021e-02,
          -1.65901932e-01,  -6.23596894e-01,   0.00000000e+00,
           1.16991510e-01,   5.65756039e-03,   5.78451059e-01,
          -2.11773114e-01,   2.02883815e-01,  -1.95667504e-01,
           1.21768761e-01,  -2.72691575e-01,   5.43763030e-02,
           3.09138200e-01,  -1.35197095e-01,  -1.26732375e-01,
          -6.35691996e-02,   0.00000000e+00,   1.44675162e-02,
           2.32155365e-01,  -5.81668467e-02,   2.07459656e-01,
          -1.25227771e-01,  -2.39212947e-01,   2.32320826e-01,
          -1.19706989e-01,  -2.34405594e-01,   8.49879857e-02,
           2.96945266e-01,   9.59904320e-02,   4.09550319e-01,
           4.84163122e-02,  -6.45640771e-02,   7.16522395e-01,
           1.45878394e-02,   2.72654787e+00,  -2.72056486e+00,
          -6.03195968e-01,  -8.26350574e-01,  -1.62149275e+00,
          -1.57113250e-01,   3.61597740e-01,   2.63017452e-03,
           1.68616889e-01,   1.27751181e-01,  -1.50682674e-01,
          -5.19346412e-02,  -2.94882414e-01,  -5.78020954e-02,
           6.88304411e-01,   9.07240185e-01,  -7.93697272e-02,
           3.46791352e-01,   1.06394453e-02,  -4.00198885e-01,
          -6.63034361e-01,  -6.99173588e-01,  -4.74137309e-02,
          -2.76983601e-01,  -4.42642720e-01,  -3.39267461e-02,
           1.34527809e-02,   8.85756413e-02,   1.50505514e-01,
           2.08717750e-01,   5.80211477e-01,  -2.81927091e-01])),
 ('EmployeeIndex_B',
  array([-0.1593531 , -0.16721223, -0.29471606,  0.27545772,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        , -0.34582367,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        , -0.15332448, -0.19249919,
         -0.45296996,  0.10714629,  0.98639469, -1.33221836, -0.20110415,
          0.        ,  0.        ,  0.        , -0.00854522, -0.13617429,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        , -0.45017709,  0.10435342,  0.        ,  0.        ,
          0.        , -0.34582367, -0.03832264, -0.30750104, -0.16721223,
          0.        , -0.78296312,  0.74331227, -0.154349  , -0.2935166 ,
          0.25822197,  0.        ,  0.07688806, -0.01696886, -0.30591394,
         -0.2567834 , -0.55016066, -0.42322125,  0.04778167,  0.57064791,
         -0.7941386 ,  0.2490616 ,  0.        , -0.02555042,  0.21258344,
          0.59932621, -0.21706883,  0.15449848,  0.35728109,  0.        ,
          0.47806875,  0.3184555 , -1.21921728,  0.60686617, -0.18170507,
         -0.16208317, -0.58319926,  0.        ,  0.14858835,  0.        ,
          0.        ,  0.        , -0.32509159,  0.        ,  0.41158997,
          0.        ,  0.        ,  0.58638039, -0.30567585,  0.37601517,
          0.        ,  0.        ,  0.16196718, -0.14368539, -0.45348008,
          0.1426679 ,  0.        ,  0.        ,  0.        ,  0.79924589,
         -0.14271934,  0.37464248,  0.        , -0.59655096, -0.51092375,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         -0.36703735, -0.21065176,  0.        ,  0.        , -0.28129976,
          0.        , -0.22828762,  0.        ,  0.        ,  0.        ,
         -0.31466781, -0.4898884 , -0.41375088,  0.        ,  0.        ,
         -0.36834119,  0.        ,  0.        ,  0.11316851, -0.19910555,
          0.        ,  0.67432843,  0.        ,  0.        ,  0.        ,
          0.        , -0.23470915,  0.70572242, -0.46575483, -0.3844843 ,
          0.        , -0.61140682,  0.        , -0.16992483,  0.        ,
         -0.56723642,  0.        ,  0.21780637,  0.        ,  0.        ,
          0.37034922, -0.08655312, -0.41276776,  0.26661147,  0.        ,
          0.15469336,  0.37896359,  0.        , -0.48460453,  0.29951769,
          0.45105003,  0.        ,  0.06632334,  0.        ,  0.        ,
          0.        , -0.86406008,  0.12738692,  0.        , -0.40610815,
         -0.27664905, -0.26249418, -0.12779961,  0.        ,  0.5353066 ,
          0.        ,  0.        , -0.10885583,  1.32926046,  1.85685432,
          0.47441701,  0.26019359,  0.16205365,  0.16127816, -0.15759215,
          0.22821097,  0.        ,  0.93804478,  0.37419479,  0.11388767,
         -0.45971134,  0.        ,  0.17740767, -0.03459299, -0.40362975,
          0.07497068,  0.08966661, -0.05551446, -0.14660101,  0.13881559,
          0.21453284,  0.05847094, -0.08158013,  0.11704643,  0.15637483,
          0.08067599, -0.01212758, -0.05139305, -0.01340223, -0.46693652,
          0.        ,  0.24646983,  0.08124051,  0.17278621, -0.2675107 ,
          0.14110845,  0.28823481, -0.09886141, -0.24957334, -0.04249614,
          0.00551483,  0.        ,  0.20610419,  0.10669673, -0.1057799 ,
          0.03670427, -0.00807765,  0.04148358,  0.03755887, -0.18732993,
          0.07343081,  0.06921989,  0.17046328, -0.27200118, -0.08415781,
         -0.26672106, -0.0860431 ,  0.05136487,  0.        , -0.09635399,
         -0.06014292,  0.00276244, -0.09410198,  0.        ,  0.17740767,
         -0.03459299, -0.40362975,  0.10669673,  0.07497068,  0.08966661,
         -0.05551446, -0.14660101,  0.        ,  0.13881559,  0.21453284,
          0.05847094, -0.18732993, -0.08158013,  0.00276244,  0.11704643,
          0.15637483,  0.08067599, -0.01212758,  0.        , -0.05139305,
         -0.01340223, -0.46693652,  0.24646983,  0.08124051,  0.17278621,
         -0.2675107 ,  0.14110845, -0.09886141, -0.24957334, -0.04249614,
         -0.09410198,  0.00551483,  0.        ,  0.20610419, -0.1057799 ,
          0.03670427, -0.00807765,  0.28823481,  0.04148358,  0.03755887,
          0.07343081,  0.06921989,  0.17046328, -0.27200118, -0.08415781,
         -0.26672106, -0.0860431 ,  0.05136487, -0.09635399, -0.06014292,
         -0.40375317,  0.05792949, -0.73716466,  0.82220608,  0.98303119,
          2.03901911, -0.32725506, -0.43580485, -0.56956199, -0.46588421,
         -0.20301028, -0.24291391, -0.14041248,  0.44623778,  0.29030497,
         -0.38123901,  0.05751826, -0.27862808,  0.15595032,  0.1666226 ,
         -0.13549317, -0.32100804, -0.34608929,  0.19378585,  0.32010399,
         -0.06806318, -0.11405617, -0.13921945, -0.19584742, -0.11782938,
         -0.57226889,  0.34757099])),
 ('EmployeeIndex_F',
  array([ -1.72524012e-01,  -1.61813067e-01,  -3.22479032e-01,
           2.19298093e-01,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          -4.37518018e-01,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          -3.01830429e-01,  -1.35687589e-01,  -3.41693609e-01,
          -9.58244084e-02,   1.34227484e-01,  -5.71745502e-01,
          -1.66240509e-01,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,  -9.44514322e-02,  -1.76826077e-01,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          -1.56581041e-01,  -2.80936977e-01,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,  -4.37518018e-01,
          -1.07305689e-01,  -3.30212328e-01,  -1.61813067e-01,
           0.00000000e+00,  -9.18407292e-01,   3.74872330e-01,
          -5.03593345e-02,   6.73940135e-01,  -5.10773363e-01,
           0.00000000e+00,  -5.14512417e-01,  -2.14800296e-01,
           4.02466140e-01,  -6.52480265e-02,   5.51854781e-01,
          -1.66103926e-02,  -8.37854974e-02,  -5.08221046e-02,
           3.94739728e-01,   3.94406151e-01,   0.00000000e+00,
          -3.14266352e-01,   7.24304511e-01,  -2.93970530e-01,
          -9.17216890e-02,  -6.10997940e-01,  -6.85446258e-02,
           0.00000000e+00,  -2.32159692e-01,  -2.66453175e-01,
           5.25378842e-01,  -2.60048654e-01,  -6.04155275e-02,
           4.71974067e-01,  -1.70830142e-01,   0.00000000e+00,
          -3.88103035e-01,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   4.02968780e-01,   0.00000000e+00,
          -2.84499834e-01,   0.00000000e+00,   0.00000000e+00,
          -2.85523595e-01,  -1.11951483e-01,   3.06374894e-01,
           0.00000000e+00,   0.00000000e+00,   5.05574994e-02,
          -3.02458850e-01,   3.42487316e-01,   5.64388528e-02,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          -6.06361609e-01,   3.96246332e-01,  -4.18763082e-01,
           0.00000000e+00,   5.24179200e-01,  -2.41461368e-01,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   0.00000000e+00,   4.85647999e-01,
          -7.09615818e-02,   0.00000000e+00,   0.00000000e+00,
          -1.42921772e-01,   0.00000000e+00,  -3.18108152e-01,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          -5.58443760e-02,   1.11192420e+00,  -1.07263275e-01,
           0.00000000e+00,   0.00000000e+00,   2.14517813e-01,
           0.00000000e+00,   0.00000000e+00,  -5.26307090e-01,
           4.10903965e-01,   0.00000000e+00,  -3.72544485e-01,
           0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,  -2.38119611e-01,  -8.55179267e-02,
           4.64931736e-01,  -3.85267997e-02,   0.00000000e+00,
           3.76510307e-01,   0.00000000e+00,  -2.41732041e-01,
           0.00000000e+00,  -1.07755164e-01,   0.00000000e+00,
           1.47341540e-01,   0.00000000e+00,   0.00000000e+00,
          -1.71730017e-01,   1.12379126e+00,  -2.77198706e-01,
           3.85496119e-01,   0.00000000e+00,   6.37603290e-02,
          -4.34634404e-01,   0.00000000e+00,   4.65981492e-01,
           5.24444387e-01,  -4.86374532e-02,   0.00000000e+00,
           1.54095572e-01,   0.00000000e+00,   0.00000000e+00,
           0.00000000e+00,   3.78224722e-01,   1.46378123e-02,
           0.00000000e+00,  -2.94977106e-02,   5.69368078e-01,
           4.98520120e-01,   6.78763607e-01,   0.00000000e+00,
          -6.40272640e-01,   0.00000000e+00,   0.00000000e+00,
           1.85841622e-01,  -8.97525140e-01,  -1.42097657e+00,
          -3.50968548e-01,   1.04058210e-01,   1.56910875e-01,
           8.35755759e-01,   6.09241850e-01,  -4.86327221e-01,
           0.00000000e+00,  -1.57223770e+00,  -2.56952556e-01,
          -4.72857665e-01,   3.53396476e-02,   0.00000000e+00,
          -7.00888288e-02,   6.30918121e-02,  -4.21048145e-01,
           4.15711149e-01,  -2.69104858e-01,  -3.70175971e-02,
          -9.57199805e-02,  -2.56892267e-01,   4.39127040e-02,
          -1.06480731e-02,  -1.03075875e-01,  -1.03707277e-01,
           3.16409497e-01,   1.46078741e-01,   5.86831935e-01,
           4.52078469e-02,   4.80052095e-04,   1.88375106e-01,
           0.00000000e+00,  -7.56189281e-03,  -2.47520059e-01,
          -2.28788344e-01,   1.24061437e-01,  -1.41169712e-02,
          -3.11502069e-01,   3.13321225e-01,   7.67254705e-04,
           3.93466683e-02,  -1.49338328e-01,   0.00000000e+00,
          -2.33966092e-01,  -2.80822121e-01,   1.45611428e-02,
          -9.91670183e-02,   6.97909764e-02,   2.68216190e-01,
          -1.05849390e-01,   9.67502210e-02,  -2.87616433e-01,
           7.31509767e-03,   2.07244480e-01,   1.49962466e-01,
           2.15321249e-01,  -2.39111812e-01,   2.01835123e-01,
          -6.99832137e-02,   0.00000000e+00,  -4.44932043e-01,
           1.01429165e-01,   5.52611310e-01,  -5.18572178e-01,
           0.00000000e+00,  -7.00888288e-02,   6.30918121e-02,
          -4.21048145e-01,  -2.80822121e-01,   4.15711149e-01,
          -2.69104858e-01,  -3.70175971e-02,  -9.57199805e-02,
           0.00000000e+00,  -2.56892267e-01,   4.39127040e-02,
          -1.06480731e-02,   9.67502210e-02,  -1.03075875e-01,
           5.52611310e-01,  -1.03707277e-01,   3.16409497e-01,
           1.46078741e-01,   5.86831935e-01,   0.00000000e+00,
           4.52078469e-02,   4.80052095e-04,   1.88375106e-01,

In [106]:
from sklearn.ensemble import RandomForestRegressor

rfmodel=RandomForestRegressor(n_estimators = 500, min_samples_leaf=1,  n_jobs=-1, max_features=4) #Your parameters inside the parentheses
rfmodel.fit(X_train,y_train)

rf_test_pred = rfmodel.predict(X_test)

dtr = rfmodel.estimators_

dtr1 = dtr[0]

dtr1.tree_


tree.export_graphviz(dtr1, out_file='rftree1.dot',feature_names = X_train.columns)

rfmodel.score(X_test,y_test)

0.54109080516173047

In [116]:
#Plot actual vs predicted
plt.scatter(y_test, rf_test_pred,alpha=.6)
plt.plot() #np.linspace(0,600000,1000),np.linspace(0,600000,1000))

[]

In [117]:
from sklearn.ensemble import GradientBoostingRegressor

gbmodel = GradientBoostingRegressor(n_estimators=500, learning_rate=.05, max_depth=4, subsample = .9)

gbmodel.fit(X_train, y_train)

y_pred_gb = gbmodel.predict(X_test)

In [118]:
gbmodel.score(X_test,y_test)

0.59085868996952362

In [121]:
# np.sqrt(np.mean((y_pred_gb - y_test)**2))

In [129]:
from sklearn import tree

# Set some parameters
dtrmodel = tree.DecisionTreeRegressor(min_samples_split=10, max_depth=4)
#dtrmodel = tree.DecisionTreeRegressor(min_samples_split=10, max_depth=6, min_samples_leaf=8)

# Fit the model to some training data
dtrmodel.fit(X_train,y_train)


dtrmodel.tree_

tree.export_graphviz(dtrmodel, out_file='tree.dot',feature_names = X_train.columns)

# !head tree.dot

In [130]:
dtrmodel.score(X_test,y_test)

0.55578322845696271

In [ ]:
dtr_test_pred = dtrmodel.predict(X_test)
#Plot actual vs predicted
plt.scatter(y_test, dtr_test_pred,alpha=.6)
plt.plot() #np.linspace(0,600000,1000),np.linspace(0,600000,1000))

In [112]:
# from sklearn.model_selection import GridSearchCV
# from sklearn import linear_model,ensemble, tree, model_selection

# parameters = {'max_depth':[5,6],
#               'learning_rate':np.arange(.01,.1,.01),
#               'n_estimators':[500]}

# model = ensemble.GradientBoostingRegressor()
# grid_search = GridSearchCV(model, parameters, n_jobs=-2, verbose=1)
# grid_search.fit(X_train,y_train)

# from sklearn import pipeline, manifold, preprocessing, feature_selection, decomposition

# steps = [
# ('features', preprocessing.PolynomialFeatures(degree=2)),
# ('feature_selection', feature_selection.SelectFromModel(linear_model.Lasso(alpha = .2))),
# ('model',ensemble.GradientBoostingRegressor())]

# gbr_regression_pipeline = pipeline.Pipeline(steps)
# gbr_regression_pipeline.fit(X_train,y_train)
# gbr_regression_pipeline.score(X_test,y_test)

In [131]:
from sklearn.model_selection import GridSearchCV
from sklearn import linear_model,ensemble, tree, model_selection

parameters = {'max_depth':[5,6],
              'learning_rate':np.arange(.01,.1,.01),
              'n_estimators':[500]}

model = ensemble.GradientBoostingRegressor()
grid_search = GridSearchCV(model, parameters, n_jobs=-2, verbose=1)
grid_search.fit(X_train,y_train)

from sklearn import pipeline, manifold, preprocessing, feature_selection, decomposition

steps = [
('features', preprocessing.PolynomialFeatures(degree=2)),
('feature_selection', feature_selection.SelectFromModel(linear_model.Lasso(alpha = .2))),
('model',ensemble.GradientBoostingRegressor())]

gbr_regression_pipeline = pipeline.Pipeline(steps)
gbr_regression_pipeline.fit(X_train,y_train)
gbr_regression_pipeline.score(X_test,y_test)

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-2)]: Done  44 tasks      | elapsed:  8.7min
[Parallel(n_jobs=-2)]: Done  54 out of  54 | elapsed: 10.1min finished

0.48267436239184175

In [ ]:
gbr_test_pred = gbr_regression_pipeline.predict(X_test)

In [138]:
# from sklearn import svm

# svm_model = svm()

# svm_model.fit(X_train, y_train)


# test_set_pred = svm_model.predict(X_test)

In [139]:
# svm_model.score(X_test,y_test)